*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(145, 0, 0, 0.801);
    font-family: Arial, sans-serif;
    padding: 20px;
}
.header{
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 50px;
    margin-top: 50px;
}
h1, h2, h3{
    margin-bottom: 800px;
    margin-top: 400px;
}
h4{
    margin-bottom: 400px;
}
#backToTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease; 
    /* z-index: 1000; */
    padding: 0;
}
#backToTop img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#backToTop:hover{
    transform: translateY(-3px);
    /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); */
}
#backToTop.show{
    opacity: 1;
    visibility: visible;
    /* transition: 0.7s; */
} 